[Unit]
Description=Configure CPU and power settings based on battery mode

[Service]
Type=oneshot
ExecStart=/bin/bash /etc/acpi/actions/battery.sh
# disable timeout logic
TimeoutSec=0

[Install]
WantedBy=multi-user.target
