[Unit]
Description=Sets battery thresholds

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=echo 65 > /sys/class/power_supply/BAT0/charge_control_start_threshold
ExecStart=echo 90 > /sys/class/power_supply/BAT0/charge_control_stop_threshold
ExecStop=echo 0 > /sys/class/power_supply/BAT0/charge_control_start_threshold
ExecStop=echo 100 > /sys/class/power_supply/BAT0/charge_control_stop_threshold

[Install]
WantedBy=multi-user.target
