[Unit]
Description=sets battery thresholds

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=bash -c "echo 65 | tee /sys/class/power_supply/BAT0/charge_control_start_threshold"
ExecStart=bash -c "echo 90 | tee /sys/class/power_supply/BAT0/charge_control_end_threshold"
ExecStop=bash -c "echo 0 | tee /sys/class/power_supply/BAT0/charge_control_start_threshold"
ExecStop=bash -c "echo 100 | tee /sys/class/power_supply/BAT0/charge_control_end_threshold"

[Install]
WantedBy=multi-user.target
