[user]
	email = ogeidca49@gmail.com
	name = Crag
[credential]
	helper = store
[help]
	autocorrect = 1
[color]
	ui = true
	editor = nvim -f
[init]
	defaultBranch = main
[core]
	autocrlf = input
  pager = delta

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true  # use n and N to move between diff sections
  light = false
  side-by-side = true
[alias]
  tree = log --graph --full-history --pretty=format:'%C(red)%h%C(reset) -%C(yellow)%d%C(reset) %s %C(green)(%cr) %C(bold blue)[%an]%C(reset)'

[merge]
    conflictstyle = zdiff3

[diff]
    colorMoved = default

