[user]
	email = ogeidca49@gmail.com
	name = Crag
[credential]
	helper = store
[help]
	autocorrect = 1
[color]
	ui = true
	editor = nvim -f
[init]
	defaultBranch = main
[core]
	autocrlf = input
  pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
