.gitconfig filter=git-crypt diff=git-crypt
config/rofi/text/bookmarks.db filter=git-crypt diff=git-crypt
config/rofi/text/notes.db filter=git-crypt diff=git-crypt

.scripts/vpn filter=git-crypt diff=git-crypt
.scripts/vpn-cookie filter=git-crypt diff=git-crypt
.scripts/configure_proxy.sh filter=git-crypt diff=git-crypt
local/bin/ssh-inaoe filter=git-crypt diff=git-crypt
local/bin/rsync-inaoe filter=git-crypt diff=git-crypt
local/bin/forti-vpn filter=git-crypt diff=git-crypt

.zsh_history filter=git-crypt diff=git-crypt
config/nushell/history.txt filter=git-crypt diff=git-crypt
