@import "@dark@";

@define-color bg-color #1e1e2e;
@define-color fg-color #cdd6f4;
@define-color selected-bg-color #f38ba8;
@define-color selected-fg-color #ffffff;

.catapult-body {
  border-radius: 5;
  padding: 0;
  margin: 0;
}

.catapult-input-icon {
  padding: 0 12px 0 0;
}

.catapult-input-entry {
  font-family: "SF Pro", monospace;
  font-size: 150%;
}
.catapult-search-result-title {
  font-family: "SF Pro Text", "Cantarell", sans-serif;
}

.catapult-search-result-description {
  font-family: "SF Pro Display", monospace;
}
