[Desktop Entry]
Version=1.0
Name=Brave wayland
# Only KDE 4 seems to use GenericName, so we reuse the KDE strings.
# From Ubuntu's language-pack-kde-XX-base packages, version 9.04-20090413.
GenericName=Web browser
GenericName[es]=Navegador web
# Gnome and KDE 3 uses Comment.
Comment=Access the Internet
Comment[es]=Accede a Internet.
StartupNotify=true
StartupWMClass=brave-browser
TryExec=brave
Exec=open-wl brave %U
Terminal=false
Icon=brave-desktop
Type=Application
Categories=Network;WebBrowser;
MimeType=application/pdf;application/rdf+xml;application/rss+xml;application/xhtml+xml;application/xhtml_xml;application/xml;image/gif;image/jpeg;image/png;image/webp;text/html;text/xml;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ipfs;x-scheme-handler/ipns;
Actions=new-window;new-private-window;

[Desktop Action new-window]
Name=New Window
Name[es]=Nueva ventana
Exec=open-wl brave

[Desktop Action new-private-window]
Name=New Incognito Window
Name[es]=Nueva ventana de incógnito
Exec=open-wl brave --incognito
MimeType=x-scheme-handler/unknown;x-scheme-handler/about;text/html;text/xml;application/xhtml_xml;image/webp;x-scheme-handler/http;x-scheme-handler/https;
