SUBSYSTEM=="power_supply", ATTR{online}=="0", RUN+="/home/think-crag/Git/dotfiles/thinkpad/scripts/power-mode.sh battery"
SUBSYSTEM=="power_supply", ATTR{online}=="1", RUN+="/home/think-crag/Git/dotfiles/thinkpad/scripts/power-mode.sh ac"
