@-moz-document domain("mixdrop.co") {

/*  comment out to disable  */

div.header  {  display: none  !important  }

div.video  {  background: #111  !important  }
div.wrapper  {  width: 640px  !important  }

div.player[crossorigin="anonymous"] { width: 512px !important ; height: 380px !important ; display: block !important ; margin-left: auto !important ; margin-right: auto !important ; margin-top: 60px !important }

div.player-bottom  {  display: none  !important  }
div.download-embed  {  display: none  !important  }
div.footer  {  display: none  !important  }

}
